.jum{
	background-color: #005883;
	color: white;
}
.vav{
	margin-top: -30px;
}
.histori{
	color: #170A02;
	font-family:franklin gothic heavy;
	font: bolder;
	font-size: 30px;
	}

.social ul{
	list-style:none;
}


.social ul li a{
	text-decoration: none;
	display: block;
	font-size: 18px;
	color: white;
	padding: 10px;
	border-radius: 60px;

}
.social ul li .icon-facebook{
	background: #3B5998;
}
.social ul li .icon-twitter{
	background: #00ABF0;
}
.social ul li .icon-google-plus2{
	background: #D95232;
}
.social ul li .icon-youtube{
	background: #AE181F
}
.social ul li .icon-pinterest{
	background: #666666;
}
.social ul li a:hover{
	-moz-transform: scale(2) rotate(10deg) translateX(2px);
-webkit-transform: scale(2) rotate(10deg) translateX(2px);
-o-transform: scale(2) rotate(10deg) translateX(2px);
-ms-transform: scale(2) rotate(10deg) translateX(2px);
transform: scale(2) rotate(10deg) translateX(2px);

-webkit-transition: all 2s ease-in;
-moz-transition: all 2s ease-in;
-ms-transition: all 2s ease-in;
-o-transition: all 2s ease-in;
transition: all 2s ease-in;

-webkit-box-shadow: 2px 2px 2px 2px #59383D;
box-shadow: 2px 2px 2px 2px #59383D;
}
.social ul li{
	padding-right: 2px;
}
.dis{
	font-size: 36px;
	color: #BF0101;
	text-align: center;
	margin-top: 20px;
}
.lis{
	font-size: 36px;
	color: #ED7E06;
	text-align: center;
}

footer{
	background-color: #005883;
	font-size: 20px;
	color:#ffffff;
	margin-top: 40px;
    opacity: 15;
	font-family:franklin gothic heavy;

}

h4{
	font-size: 20px;
	color: #F5EAEA;

}
h5{
	font-size: 20px;
	color: #F5EAEA;
}
h6{
	font-size: 20px;
	color: #F5EAEA;
}
.dis>img:hover{
	-moz-transform: scale(.9) rotate(20deg);
-webkit-transform: scale(.9) rotate(20deg);
-o-transform: scale(.9) rotate(20deg);
-ms-transform: scale(.9) rotate(20deg);
transform: scale(.9) rotate(20deg);

-webkit-transition: all 2000ms ease-out;
-moz-transition: all 2000ms ease-out;
-ms-transition: all 2000ms ease-out;
-o-transition: all 2000ms ease-out;
transition: all 2000ms ease-out;
}
.ancho{
	margin-top: 80px;

}
.cuerpo{
	background: #A1C3ED;
}
.col1{
	padding-bottom: 10px;
	
}
h1{
	font-family:franklin gothic heavy;
	font-size: 60px;

}
.fuente{
	font-family:franklin gothic heavy;
	font-size: 25px;
	
}
h2{
	font-size: 20px;
	font-family:franklin gothic heavy;
	color: #000000;
}
h3{
	font-size: 20px;
	font-family:franklin gothic heavy;
	color: #000000;
}
img{
	width: 150px;
	height:150px; 
}

thead{
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}
table{
	width: 100%;
	border: 2px solid #000000;
	border-collapse: collapse;
	box-shadow: 0 0 15px #0A6C93;
	margin: 2em;
	display: table;
	border-spacing: 2px;

}
tr{
	background:  #0A6C93;
	vertical-align: inherit;
	border-color: inherit;
	font-size: 20px;

}

td{
	display: table-cell;
	vertical-align: inherit;
	color: #ffffff;
	border: black 2px solid;
	text-align: justify;

}
.parrafo{
font-family:franklin gothic heavy;
	color: #000000;
	text-align:justify;
}
.etique1{
	background:#4F97AA;
}
.etique2{
	background: #0D7593;
	}

caption{
	color: #000000;
	font-family:franklin gothic heavy;
	font-size: 20px;
	text-align: center;
}
.atributo{
	width: 100%;
    border: 2px solid #000000;
	border-collapse: collapse;
	box-shadow: 0 0 15px #F47920;
	margin: 2em;
	display: table;
	border-spacing: 2px;

}
.atri1{
	background-color: #F47920;
}
.atri2{
	background-color: #C4743D;
	
}
.atri3{
	background-color: #C6590E;
etiqueta
}
.biografia{
	font-family:franklin gothic heavy;
	color: #000000;
}
.url{
	color: blue;
	font-family: franklin gothic heavy;
	font-size: 16px;
}
.datos{
	font-family: franklin gothic heavy;
	font-size: 16px;
	color: #000000;
}